.products-list {
    width: 100%;
    padding: 5.5rem 2rem 2rem;
    background-color: #F7F9FB;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: 'Smack Laideth';
    font-size: 18px;
}

.title-primary h2 {
    font-style: italic;
    font-weight: 100;
    color: #0085CA;
    text-align: center;
    font-size: 1.8em;
}   

/* Breakpoint: Tablets */
@media (min-width: 480px) {
    .products-list {
        padding: 4rem 2rem 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 1.2em;
    }

    .title-primary {
        padding-top: 1rem;
        max-width: none;
        grid-column: 1 / -1;
    }

    .title-primary h2{
        font-size: 3em;
    }

    .filter-sidebar {
        grid-column: 1 / 2;
    }

    .sorting-dropdown {
        grid-column: 2 / 3;
    }

    .product-grid {
        grid-column: 1 / -1;
    }
}

/* Breakpoint: Desktop */
@media (min-width: 768px) {
    .products-list {
        padding: 7.5rem 3rem 2rem;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 5fr;
        align-items: start;
        font-size: 16px;
        row-gap: 1em;
        column-gap: 1.2em;
    }

        
    .title-primary {
        padding-top: 0;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .title-primary h2 {
        padding-bottom: .2em;
        border-bottom: 2px solid #bebebe;
        font-size: 1.8em;
        text-align: start;
    }

    .filter-sidebar {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .sorting-dropdown {
        grid-column: 2 / 3;
        grid-row: 1;
        justify-self: flex-end;
    }

    .product-grid {
        grid-column: 2 / 3;
        grid-row: 2;
    }
}

@media(min-width:1024px){
    .products-list{
        padding: 7rem 4rem 2rem;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 5fr;
        font-size: 18px;
    }
}

@media(min-width:1280px){
    .products-list{
        padding: 6.5rem 4rem 2rem;
        grid-template-columns: 1fr 5fr;
        font-size: 20px;
        column-gap: 2em;
    }

    .products-list .title-primary h2{
        font-size: 1.7em;
    }
}

@media(min-width:1440px){
    .products-list{
        grid-template-columns: 1fr 6fr;
        column-gap: 3em;
    }
}