.double-slider{
    width: 90%; /* Si no devolver a 90*/
    display: none;
    font-size: 1em;
}

.slider-container{
    height: 3.5em;
    position: relative;
}

.slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    cursor: grab;
}

.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}


.slider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

.slider::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

.slider::-ms-track{
    appearance: none;
    height: 5px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #005F9E;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -4px;
}

.slider::-moz-range-thumb{
    -moz-appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #005F9E;
    pointer-events: auto;
    margin-top: -4px;
}

.slider::-ms-thumb{
    appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #005F9E;
    pointer-events: auto;
    margin-top: -4px;
}

.slider:active::-webkit-slider-thumb {
    background-color: #005F9E; /* Color de fondo del slider */
    box-shadow: 0 0 0 2px white, 0 0 0 8px #005F9E; /* Borde blanco interno y luego el borde original */
    cursor: grabbing;
}

.slider:active::-moz-range-thumb {
    background-color: #005F9E;
    box-shadow: 0 0 0 2px white, 0 0 0 8px #005F9E;
    cursor: grabbing;
}

.slider:active::-ms-thumb {
    background-color: #005F9E;
    box-shadow: 0 0 0 2px white, 0 0 0 8px #005F9E;
    cursor: grabbing;
}

/* Estilo para el borde cuando el slider no está activo */
.slider:focus::-webkit-slider-thumb {
    background-color: #005F9E;
}

.slider-values{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.slider-values .inputbox-min,
.slider-values .inputbox-max{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    font-size: 1.3em;
}

.slider-values .inputbox-min span,
.slider-values .inputbox-max span{
    width: 80%;
}

.slider-values .inputbox-min input,
.slider-values .inputbox-max input{
    width: 100%;
    border: 1px solid #333333;
    outline: none;
    caret-color: #00335F;
    color: #005F9E;
    font-family: 'Smack Laideth';
    font-size: 1.2em;
    text-align: center;
}

@media(min-width:768px){
    .double-slider{
        display: flex;
        flex-direction: column;
    }
}