.card{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: 'Smack Laideth';
    font-size: 16px;
    text-decoration: none;
    aspect-ratio: 4 / 5;
    max-height: 400px;
    width: 100%;
    max-width: 1fr;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.05em;
}

.card .card-product{
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: #F2F2F2 ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden; /* Evita que los contenidos se desborden */
}

.card .card-product .img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card .card-product .img .button-glass{
    padding: .5em;
    position: absolute;
    top: 6px;  
    right: 5px; 
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
    display: none;
    transition: transform 0.25s ease;
    z-index: 3;
}

.card .card-product .img img{
    width: 70%; 
    max-width: 160px;
    object-fit: cover;
}


.card .card-product .img .buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5em;
    transform: translateY(102%);
    transition: transform 0.2s ease-in;;
}

.card:hover .img .buttons{
    transform: translateY(0);
}


.card .card-product .img .button{
    width: 50px;
    padding: .8em;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-family: 'Smack Laideth';
    font-size: .9em;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
}

.card .card-product .img .button-buys{
    background-color: #005F9E;
}

.card .card-product .img .button-buys:hover {
    background-color: #0085CA;
    color: #00335F;
}

.card .card-product .img .button-edit{
    background-color: #FFB300;;
}

.card .card-product .img .button-edit:hover {
    background-color: #FF8C00; 
    color: #00335F;
}

.card .card-product .img .button-delete{
    background-color: #D32F2F;
}

.card .card-product .img .button-delete:hover {
    background-color: #C2185B; 
    color: #00335F; 
}

.card .card-product .img .button-plus{
    background-color: #28a745;
}

.card .card-product  .img .button-plus:hover{
    background-color: #218838;
    color: #00335F; 
}

.card .card-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 0;
}

.card .card-details .title h3{
    color: #00457E;
    font-weight: 400;
    text-align: start;
}

.card .card-details .price p{
    font-size: 1.5em;
    color: #333333;
    margin: 0.5em 0;
}

@media(min-width:480px){

    .card{
        max-width: 300px;
    }

    .card .card-product .img img{
        width: 65%;
    }
}

@media(min-width:768px){

    .card{
        max-width: 240px;
        max-height: 340px;
    }

    .card .card-product .img{
        display: flex;
        flex-direction: column;
    }

    .card .card-product .img img{
        width: 60%;
    }

    .card .card-product .img img{
        transition: .2s ease-in;
    }

    .card:hover .img .button-glass{
        display: flex;
    }

    .img .button-glass:hover{
        animation: glasshover .5s infinite;
    }

    @keyframes glasshover {
        0%{transform: scale(1);}
        50%{transform: scale(1.1);}
        100%{transform: scale(1);}
    }

    .card:hover img{
        transform: scale(1.05);
    }

    .card .card-details .title h3{
        font-size: 1.2em;
    }
}

@media(min-width:1024px){

    .card{
        max-width: 280px;
        max-height: 380px;
    }

    .card .card-product .img img{
        width: 55%;
    }

    .card .card-details .title h3{
        font-size: 1.1em;
    }

    .card .card-details .price p{
        font-size: 1.2em;
    }

    .card .card-product .img .button-buys{
        padding: 0.6em;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}

@media(min-width:1280px){
    .card .card-product .img img{
        width: 60%;
    }

    .card .card-details .title h3{
        font-size: 1em;
    }

    .card .card-details .price p{
        font-size: 1.3em;
    }
}

@media(min-width:1440px){
    .card{
        /* Modificar o borrar en casos de futuros errores */
        font-size: 20px;
    }
}