/* === Estilos Generales === */
.navBar {
    position: absolute; 
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 5;
}

.navBar.abajo {
    position: fixed;
    padding: 2rem 2rem;
    background-color: #00457E;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navBar .superior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .link-logo {
    margin: 0 auto;
    display: flex;
}

.navBar .logo {
    width: 50vw;
    max-width: 350px;
}

.navBar .deactivate {
    display: none;
}

.navBar button {
    display: flex;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navBar .burger-icon,
.navBar .cart-icon {
    color: #00457E;
}

.navBar .user-icon,
.navBar .x-icon {
    color: #fff;
}

.navBar .light {
    color: #fff;  
}

.navBar button:hover .burger-icon,
.navBar button:hover .cart-icon {
    transform: scale(1.2);
    color: #02315E; 
}

.navBar button:hover .stock{
    background-color: #02315E;
    color: #fff;
    transform: scale(1.2);
}

.navBar button:hover .user-icon,
.navBar button:hover .x-icon {
    transform: scale(1.2);
    color: #00335F;
}

.navBar .button-user {
    display: none;
}

/* === Barra de Navegación Móvil === */
.navBar .nav-container {
    width: 35vw;
    min-width: 250px;
    height: 100vh;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #00457E;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.navBar .nav_active {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transform: translateX(0);
}

.navBar .nav-icons {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.navBar .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 2rem;
    color: #fff;
    font-family: 'Smack Laideth';
    font-size: 1em;
    text-align: center;
}

.navBar .nav-link {
    text-align: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navBar .nav-link:hover {
    text-decoration: underline;
}

/* === Media Queries === */

/* === Para pantallas mayores a 480px === */
@media (min-width: 480px) {
    .navBar {
        font-size: 22px;
    }   
}

/* === Para pantallas mayores a 768px === */
@media (min-width: 768px) {
    .navBar .burger-icon,
    .navBar .nav-icons {
        display: none;
    }

    .navBar .nav_active {
        display: none;
    }

    .navBar {
        padding: 0rem 3rem;
        flex-direction: column;
        gap: 20px;
    }

    .navBar.abajo {
        padding: 0rem 3rem;
        padding-bottom: 1rem;
    }

    .navBar .superior {
        align-items: flex-end;
        justify-content: space-between;
    }

    .navBar .link-logo {
        margin: 0;
    }

    .navBar .logo {
        width: 30vw;
    }

    .navBar button {
        font-size: 1em;
    }

    .navBar .button-user {
        display: flex;
    }

    .navBar .user-icon {
        color: #00457E;
    }

    .navBar button:hover .user-icon {
        transform: scale(1.2);
        color: #02315E; 
    }

    .navBar .buttons {
        margin: 0;
        display: flex;
        gap: 50px;
    }

    .navBar .lower {
        width: 100%;
    }

    .navBar .nav-container {
        padding: 0;
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateX(0);
        transition: none;
        align-items: center;
        background: none;
    }

    .navBar .nav-list {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: #00457E;
    }

    .navBar .light {
        color: #fff;
    }
}

/* === Para pantallas mayores a 1024px === */
@media (min-width: 1024px) {
    .navBar {
        padding: 0.5rem 4rem;
        font-size: 28px;
    }

    .navBar.abajo {
        padding: 0rem 4rem;
        padding-bottom: 1rem;
    }
}

/* === Para pantallas mayores a 1280px === */
@media (min-width: 1280px) {
    .navBar .nav-list {
        justify-content: flex-end;
        gap: 3em;
    }
}

@media(min-width:1440px){

    .navBar {
        font-size: 28px;
    }

    .superior,
    .nav-container .nav-list{
        max-width: 1395px;
    }
}
